/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	margin-left: 17%;
	width: 70%;
	/* border: 5px solid orange; */
}

nav {
	display: inline-block;

}

@keyframes nav {
    from {background: none;
          color: gray}
    to { background: lightgray;
          color: black;}
  }
  
nav {
    animation-name: nav;
	animation-duration: 8s;
}

a {
	text-decoration: none;
	color: gray;
	padding: 15px;
	

}

.navigation-bar {
	background-color: lightblue;
	width: 70%;
	height: 50px;
	border-bottom: 3%;
	position: fixed;
	float: top;
	margin-right: 5%;
	padding-top: 10px;
	
}

.logo {
	margin-left: 13%;
	
	
}

.header-content {
	/* border: 2px solid green; */
	height: 380px;
	margin-top: 5%;
	padding-top: 5%;
		
}

.logo-header {
	margin-left: 5%;
	max-width: 40%;
	display: inline-block;
	vertical-align: top;
	padding: 15px;
	margin-top: 5%;
			
}

h1 {
	font-size: 80px;
	text-align: center;
	
}

button {
	width: 180px;
	height: 40px;
	margin-left: 25%;
	margin-top: 5%;
}

.header-img {
	max-width: 40%;
	display: inline-block;
	margin-top: 2%;
	margin-left: 13%;
		
}


.top-content {
	max-width: 70%;
	height: 25%;
	margin-left: 18%;
	margin-top: 5%;
	font-size: 16px;
	
}



.text-content {
	display: inline-block;
	width: 47%;
	margin: 1%;
	height: 100%;
	
	
	
}

h4  {
	padding: 5px;
	margin-bottom: 5px;
}



.middle-img {
	width: 70%;
	margin-left: 18%;
	margin-bottom: 2%;
		
}

.bottom-content {
	max-width: 70%;
	height: 30%;
	margin-left: 18%;
			
}

.bottom-text {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-left: 0;
	height: 100%;
	padding-right: 7px;
}

.contact {
	max-width: 70%;
	height: 30%;
	margin-left: 18%;
	
}

footer {
	text-align: center;
}
